* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    height: 100vh;
    background-color: #e2fee7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #fff4bf;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    background: #e78f81;
    width: 0;
    height: 0;
    position: absolute;
    top: var(--posY);
    left: var(--posX);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
    transition: height 1s, width 1s;
}

span {
    position: relative;
    z-index: 1;
}